<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>grid</key>
	<dict>
		<key>count</key>
		<string>9</string>
		<key>grid_0</key>
		<dict>
			<key>0</key>
			<dict>
				<key>x</key>
				<string>22</string>
				<key>y</key>
				<string>22</string>
				<key>mask</key>
				<string>3_0_mask_1.png</string>
			</dict>
			<key>1</key>
			<dict>
				<key>x</key>
				<string>370</string>
				<key>y</key>
				<string>22</string>
				<key>mask</key>
				<string>3_0_mask_2.png</string>
			</dict>
			<key>2</key>
			<dict>
				<key>x</key>
				<string>152</string>
				<key>y</key>
				<string>152</string>
				<key>mask</key>
				<string>3_0_mask_3.png</string>
			</dict>
		</dict>
		<key>grid_1</key>
		<dict>
			<key>0</key>
			<dict>
				<key>x</key>
				<string>33</string>
				<key>y</key>
				<string>21</string>
				<key>mask</key>
				<string>3_1_mask_1.png</string>
			</dict>
			<key>1</key>
			<dict>
				<key>x</key>
				<string>22</string>
				<key>y</key>
				<string>38</string>
				<key>mask</key>
				<string>3_1_mask_2.png</string>
			</dict>
			<key>2</key>
			<dict>
				<key>x</key>
				<string>370</string>
				<key>y</key>
				<string>38</string>
				<key>mask</key>
				<string>3_1_mask_3.png</string>
			</dict>
		</dict>
		<key>grid_2</key>
		<dict>
			<key>0</key>
			<dict>
				<key>x</key>
				<string>22</string>
				<key>y</key>
				<string>22</string>
				<key>mask</key>
				<string>3_2_mask_1.png</string>
			</dict>
			<key>1</key>
			<dict>
				<key>x</key>
				<string>339</string>
				<key>y</key>
				<string>22</string>
				<key>mask</key>
				<string>3_2_mask_3.png</string>
			</dict>
			<key>2</key>
			<dict>
				<key>x</key>
				<string>198</string>
				<key>y</key>
				<string>198</string>
				<key>mask</key>
				<string>3_2_mask_2.png</string>
			</dict>
		</dict>
		<key>grid_3</key>
		<dict>
			<key>0</key>
			<dict>
				<key>x</key>
				<string>22</string>
				<key>y</key>
				<string>21</string>
				<key>mask</key>
				<string>3_3_mask_1.png</string>
			</dict>
			<key>1</key>
			<dict>
				<key>x</key>
				<string>22</string>
				<key>y</key>
				<string>367</string>
				<key>mask</key>
				<string>3_3_mask_2.png</string>
			</dict>
			<key>2</key>
			<dict>
				<key>x</key>
				<string>383</string>
				<key>y</key>
				<string>41</string>
				<key>mask</key>
				<string>3_3_mask_3.png</string>
			</dict>
		</dict>
		<key>grid_4</key>
		<dict>
			<key>0</key>
			<dict>
				<key>x</key>
				<string>22</string>
				<key>y</key>
				<string>35</string>
				<key>mask</key>
				<string>3_4_mask_1.png</string>
			</dict>
			<key>1</key>
			<dict>
				<key>x</key>
				<string>37</string>
				<key>y</key>
				<string>20</string>
				<key>mask</key>
				<string>3_4_mask_3.png</string>
			</dict>
			<key>2</key>
			<dict>
				<key>x</key>
				<string>32</string>
				<key>y</key>
				<string>366</string>
				<key>mask</key>
				<string>3_4_mask_2.png</string>
			</dict>
		</dict>
		<key>grid_5</key>
		<dict>
			<key>0</key>
			<dict>
				<key>x</key>
				<string>22</string>
				<key>y</key>
				<string>31</string>
				<key>mask</key>
				<string>3_5_mask_1.png</string>
			</dict>
			<key>1</key>
			<dict>
				<key>x</key>
				<string>39</string>
				<key>y</key>
				<string>21</string>
				<key>mask</key>
				<string>3_5_mask_2.png</string>
			</dict>
			<key>2</key>
			<dict>
				<key>x</key>
				<string>370</string>
				<key>y</key>
				<string>31</string>
				<key>mask</key>
				<string>3_5_mask_3.png</string>
			</dict>
		</dict>
		<key>grid_6</key>
		<dict>
			<key>0</key>
			<dict>
				<key>x</key>
				<string>36</string>
				<key>y</key>
				<string>22</string>
				<key>mask</key>
				<string>3_6_mask_3.png</string>
			</dict>
			<key>1</key>
			<dict>
				<key>x</key>
				<string>22</string>
				<key>y</key>
				<string>33</string>
				<key>mask</key>
				<string>3_6_mask_1.png</string>
			</dict>
			<key>2</key>
			<dict>
				<key>x</key>
				<string>456</string>
				<key>y</key>
				<string>463</string>
				<key>mask</key>
				<string>3_6_mask_2.png</string>
			</dict>
		</dict>
		<key>grid_7</key>
		<dict>
			<key>0</key>
			<dict>
				<key>x</key>
				<string>22</string>
				<key>y</key>
				<string>22</string>
				<key>mask</key>
				<string>3_7_mask_1.png</string>
			</dict>
			<key>1</key>
			<dict>
				<key>x</key>
				<string>22</string>
				<key>y</key>
				<string>22</string>
				<key>mask</key>
				<string>3_7_mask_2.png</string>
			</dict>
			<key>2</key>
			<dict>
				<key>x</key>
				<string>236</string>
				<key>y</key>
				<string>230</string>
				<key>mask</key>
				<string>3_7_mask_3.png</string>
			</dict>
		</dict>
		<key>grid_8</key>
		<dict>
			<key>0</key>
			<dict>
				<key>x</key>
				<string>22</string>
				<key>y</key>
				<string>22</string>
				<key>mask</key>
				<string>3_8_mask_1.png</string>
			</dict>
			<key>1</key>
			<dict>
				<key>x</key>
				<string>284</string>
				<key>y</key>
				<string>22</string>
				<key>mask</key>
				<string>3_8_mask_2.png</string>
			</dict>
			<key>2</key>
			<dict>
				<key>x</key>
				<string>22</string>
				<key>y</key>
				<string>279</string>
				<key>mask</key>
				<string>3_8_mask_3.png</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
