<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>grid</key>
	<dict>
		<key>count</key>
		<string>9</string>
		<key>grid_0</key>
		<dict>
			<key>0</key>
			<dict>
				<key>x</key>
				<string>22</string>
				<key>y</key>
				<string>22</string>
				<key>mask</key>
				<string>2_0_mask_1.png</string>
			</dict>
			<key>1</key>
			<dict>
				<key>x</key>
				<string>142</string>
				<key>y</key>
				<string>142</string>
				<key>mask</key>
				<string>2_0_mask_2.png</string>
			</dict>
		</dict>
		<key>grid_1</key>
		<dict>
			<key>0</key>
			<dict>
				<key>x</key>
				<string>22</string>
				<key>y</key>
				<string>27</string>
				<key>mask</key>
				<string>2_1_mask_1.png</string>
			</dict>
			<key>1</key>
			<dict>
				<key>x</key>
				<string>22</string>
				<key>y</key>
				<string>385</string>
				<key>mask</key>
				<string>2_1_mask_1.png</string>
			</dict>
		</dict>
		<key>grid_2</key>
		<dict>
			<key>0</key>
			<dict>
				<key>x</key>
				<string>22</string>
				<key>y</key>
				<string>23</string>
				<key>mask</key>
				<string>2_2_mask_1.png</string>
			</dict>
			<key>1</key>
			<dict>
				<key>x</key>
				<string>386</string>
				<key>y</key>
				<string>23</string>
				<key>mask</key>
				<string>2_2_mask_1.png</string>
			</dict>
		</dict>
		<key>grid_3</key>
		<dict>
			<key>0</key>
			<dict>
				<key>x</key>
				<string>22</string>
				<key>y</key>
				<string>21</string>
				<key>mask</key>
				<string>2_3_mask_1.png</string>
			</dict>
			<key>1</key>
			<dict>
				<key>x</key>
				<string>357</string>
				<key>y</key>
				<string>361</string>
				<key>mask</key>
				<string>2_3_mask_1.png</string>
			</dict>
		</dict>
		<key>grid_4</key>
		<dict>
			<key>0</key>
			<dict>
				<key>x</key>
				<string>22</string>
				<key>y</key>
				<string>21</string>
				<key>mask</key>
				<string>2_4_mask_1.png</string>
			</dict>
			<key>1</key>
			<dict>
				<key>x</key>
				<string>374</string>
				<key>y</key>
				<string>184</string>
				<key>mask</key>
				<string>2_4_mask_1.png</string>
			</dict>
		</dict>
		<key>grid_5</key>
		<dict>
			<key>0</key>
			<dict>
				<key>x</key>
				<string>21</string>
				<key>y</key>
				<string>19</string>
				<key>mask</key>
				<string>2_5_mask_1.png</string>
			</dict>
			<key>1</key>
			<dict>
				<key>x</key>
				<string>20</string>
				<key>y</key>
				<string>529</string>
				<key>mask</key>
				<string>2_5_mask_2.png</string>
			</dict>
		</dict>
		<key>grid_6</key>
		<dict>
			<key>0</key>
			<dict>
				<key>x</key>
				<string>22</string>
				<key>y</key>
				<string>23</string>
				<key>mask</key>
				<string>2_5_mask_2.png</string>
			</dict>
			<key>1</key>
			<dict>
				<key>x</key>
				<string>22</string>
				<key>y</key>
				<string>211</string>
				<key>mask</key>
				<string>2_5_mask_1.png</string>
			</dict>
		</dict>
		<key>grid_7</key>
		<dict>
			<key>0</key>
			<dict>
				<key>x</key>
				<string>23</string>
				<key>y</key>
				<string>23</string>
				<key>mask</key>
				<string>2_7_mask_1.png</string>
			</dict>
			<key>1</key>
			<dict>
				<key>x</key>
				<string>211</string>
				<key>y</key>
				<string>23</string>
				<key>mask</key>
				<string>2_7_mask_2.png</string>
			</dict>
		</dict>
		<key>grid_8</key>
		<dict>
			<key>0</key>
			<dict>
				<key>x</key>
				<string>23</string>
				<key>y</key>
				<string>23</string>
				<key>mask</key>
				<string>2_7_mask_2.png</string>
			</dict>
			<key>1</key>
			<dict>
				<key>x</key>
				<string>533</string>
				<key>y</key>
				<string>23</string>
				<key>mask</key>
				<string>2_7_mask_1.png</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
