<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>grid</key>
	<dict>
		<key>count</key>
		<string>7</string>
		<key>grid_0</key>
		<dict>
			<key>0</key>
			<dict>
				<key>x</key>
				<string>44</string>
				<key>y</key>
				<string>20</string>
				<key>mask</key>
				<string>6_0_mask_2.png</string>
			</dict>
			<key>1</key>
			<dict>
				<key>x</key>
				<string>22</string>
				<key>y</key>
				<string>26</string>
				<key>mask</key>
				<string>6_0_mask_1.png</string>
			</dict>
			<key>4</key>
			<dict>
				<key>x</key>
				<string>22</string>
				<key>y</key>
				<string>368</string>
				<key>mask</key>
				<string>6_0_mask_4.png</string>
			</dict>
			<key>2</key>
			<dict>
				<key>x</key>
				<string>44</string>
				<key>y</key>
				<string>374</string>
				<key>mask</key>
				<string>6_0_mask_5.png</string>
			</dict>
			<key>3</key>
			<dict>
				<key>x</key>
				<string>383</string>
				<key>y</key>
				<string>368</string>
				<key>mask</key>
				<string>6_0_mask_6.png</string>
			</dict>
			<key>5</key>
			<dict>
				<key>x</key>
				<string>389</string>
				<key>y</key>
				<string>26</string>
				<key>mask</key>
				<string>6_0_mask_3.png</string>
			</dict>
		</dict>
		<key>grid_1</key>
		<dict>
			<key>0</key>
			<dict>
				<key>x</key>
				<string>22</string>
				<key>y</key>
				<string>22</string>
				<key>mask</key>
				<string>6_1_mask_1.png</string>
			</dict>
			<key>1</key>
			<dict>
				<key>x</key>
				<string>39</string>
				<key>y</key>
				<string>43</string>
				<key>mask</key>
				<string>6_1_mask_3.png</string>
			</dict>
			<key>2</key>
			<dict>
				<key>x</key>
				<string>22</string>
				<key>y</key>
				<string>403</string>
				<key>mask</key>
				<string>6_1_mask_5.png</string>
			</dict>
			<key>3</key>
			<dict>
				<key>x</key>
				<string>388</string>
				<key>y</key>
				<string>403</string>
				<key>mask</key>
				<string>6_1_mask_6.png</string>
			</dict>
			<key>4</key>
			<dict>
				<key>x</key>
				<string>298</string>
				<key>y</key>
				<string>43</string>
				<key>mask</key>
				<string>6_1_mask_4.png</string>
			</dict>
			<key>5</key>
			<dict>
				<key>x</key>
				<string>400</string>
				<key>y</key>
				<string>22</string>
				<key>mask</key>
				<string>6_1_mask_2.png</string>
			</dict>
		</dict>
		<key>grid_2</key>
		<dict>
			<key>0</key>
			<dict>
				<key>x</key>
				<string>22</string>
				<key>y</key>
				<string>21</string>
				<key>mask</key>
				<string>6_2_mask_1.png</string>
			</dict>
			<key>1</key>
			<dict>
				<key>x</key>
				<string>481</string>
				<key>y</key>
				<string>21</string>
				<key>mask</key>
				<string>6_2_mask_2.png</string>
			</dict>
			<key>2</key>
			<dict>
				<key>x</key>
				<string>481</string>
				<key>y</key>
				<string>251</string>
				<key>mask</key>
				<string>6_2_mask_2.png</string>
			</dict>
			<key>3</key>
			<dict>
				<key>x</key>
				<string>481</string>
				<key>y</key>
				<string>480</string>
				<key>mask</key>
				<string>6_2_mask_2.png</string>
			</dict>
			<key>4</key>
			<dict>
				<key>x</key>
				<string>252</string>
				<key>y</key>
				<string>480</string>
				<key>mask</key>
				<string>6_2_mask_2.png</string>
			</dict>
			<key>5</key>
			<dict>
				<key>x</key>
				<string>23</string>
				<key>y</key>
				<string>480</string>
				<key>mask</key>
				<string>6_2_mask_2.png</string>
			</dict>
		</dict>
		<key>grid_3</key>
		<dict>
			<key>0</key>
			<dict>
				<key>x</key>
				<string>22</string>
				<key>y</key>
				<string>249</string>
				<key>mask</key>
				<string>6_2_mask_1.png</string>
			</dict>
			<key>1</key>
			<dict>
				<key>x</key>
				<string>23</string>
				<key>y</key>
				<string>21</string>
				<key>mask</key>
				<string>6_2_mask_2.png</string>
			</dict>
			<key>2</key>
			<dict>
				<key>x</key>
				<string>252</string>
				<key>y</key>
				<string>21</string>
				<key>mask</key>
				<string>6_2_mask_2.png</string>
			</dict>
			<key>3</key>
			<dict>
				<key>x</key>
				<string>481</string>
				<key>y</key>
				<string>21</string>
				<key>mask</key>
				<string>6_2_mask_2.png</string>
			</dict>
			<key>4</key>
			<dict>
				<key>x</key>
				<string>481</string>
				<key>y</key>
				<string>250</string>
				<key>mask</key>
				<string>6_2_mask_2.png</string>
			</dict>
			<key>5</key>
			<dict>
				<key>x</key>
				<string>481</string>
				<key>y</key>
				<string>480</string>
				<key>mask</key>
				<string>6_2_mask_2.png</string>
			</dict>
		</dict>
		<key>grid_4</key>
		<dict>
			<key>0</key>
			<dict>
				<key>x</key>
				<string>250</string>
				<key>y</key>
				<string>249</string>
				<key>mask</key>
				<string>6_2_mask_1.png</string>
			</dict>
			<key>1</key>
			<dict>
				<key>x</key>
				<string>22</string>
				<key>y</key>
				<string>480</string>
				<key>mask</key>
				<string>6_2_mask_2.png</string>
			</dict>
			<key>2</key>
			<dict>
				<key>x</key>
				<string>22</string>
				<key>y</key>
				<string>250</string>
				<key>mask</key>
				<string>6_2_mask_2.png</string>
			</dict>
			<key>3</key>
			<dict>
				<key>x</key>
				<string>22</string>
				<key>y</key>
				<string>21</string>
				<key>mask</key>
				<string>6_2_mask_2.png</string>
			</dict>
			<key>4</key>
			<dict>
				<key>x</key>
				<string>251</string>
				<key>y</key>
				<string>21</string>
				<key>mask</key>
				<string>6_2_mask_2.png</string>
			</dict>
			<key>5</key>
			<dict>
				<key>x</key>
				<string>480</string>
				<key>y</key>
				<string>21</string>
				<key>mask</key>
				<string>6_2_mask_2.png</string>
			</dict>
		</dict>
		<key>grid_5</key>
		<dict>
			<key>0</key>
			<dict>
				<key>x</key>
				<string>23</string>
				<key>y</key>
				<string>23</string>
				<key>mask</key>
				<string>6_5_mask_1.png</string>
			</dict>
			<key>1</key>
			<dict>
				<key>x</key>
				<string>371</string>
				<key>y</key>
				<string>21</string>
				<key>mask</key>
				<string>6_5_mask_1.png</string>
			</dict>
			<key>2</key>
			<dict>
				<key>x</key>
				<string>22</string>
				<key>y</key>
				<string>368</string>
				<key>mask</key>
				<string>6_5_mask_3.png</string>
			</dict>
			<key>3</key>
			<dict>
				<key>x</key>
				<string>196</string>
				<key>y</key>
				<string>368</string>
				<key>mask</key>
				<string>6_5_mask_3.png</string>
			</dict>
			<key>4</key>
			<dict>
				<key>x</key>
				<string>371</string>
				<key>y</key>
				<string>368</string>
				<key>mask</key>
				<string>6_5_mask_3.png</string>
			</dict>
			<key>5</key>
			<dict>
				<key>x</key>
				<string>545</string>
				<key>y</key>
				<string>368</string>
				<key>mask</key>
				<string>6_5_mask_3.png</string>
			</dict>
		</dict>
		<key>grid_6</key>
		<dict>
			<key>0</key>
			<dict>
				<key>x</key>
				<string>23</string>
				<key>y</key>
				<string>20</string>
				<key>mask</key>
				<string>6_6_mask_1.png</string>
			</dict>
			<key>1</key>
			<dict>
				<key>x</key>
				<string>261</string>
				<key>y</key>
				<string>20</string>
				<key>mask</key>
				<string>6_6_mask_2.png</string>
			</dict>
			<key>2</key>
			<dict>
				<key>x</key>
				<string>23</string>
				<key>y</key>
				<string>252</string>
				<key>mask</key>
				<string>6_6_mask_2.png</string>
			</dict>
			<key>3</key>
			<dict>
				<key>x</key>
				<string>472</string>
				<key>y</key>
				<string>252</string>
				<key>mask</key>
				<string>6_6_mask_1.png</string>
			</dict>
			<key>4</key>
			<dict>
				<key>x</key>
				<string>25</string>
				<key>y</key>
				<string>485</string>
				<key>mask</key>
				<string>6_6_mask_1.png</string>
			</dict>
			<key>5</key>
			<dict>
				<key>x</key>
				<string>263</string>
				<key>y</key>
				<string>485</string>
				<key>mask</key>
				<string>6_6_mask_2.png</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
